@model SoftwareTechnologyCalendarApplication.Models.Calendar

@{
    ViewData["Title"] = "AddCalendar";
}

@if ((bool)ViewData["DuplicateCalendarTitle"])
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            You have already created a calendar with the given title.
            Please choose a different title and try again.
        </div>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

<h1 class="text-center">Calendar Form</h1>
<hr />
<div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center" style="margin: 0 auto;">
        <form asp-action="AddCalendar" asp-route-username="@ViewData["User"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <!--replace with a listbox(requires javascript) that chatgpt has suggested-->
            <div class="form-group mb-4">
                <label asp-for="Categories">Categories</label>
                <textarea asp-for="Categories" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <h4 class="h4 mb-3">Not sure? You could pick one of the below categories</h4>
            <div class="d-inline-block mb-1">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1"
                           name="SelectedCategories" value="Business">
                    <label class="form-check-label" for="exampleCheck1">Business</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exampleCheck2"
                           name="SelectedCategories" value="Entertainment">
                    <label class="form-check-label" for="exampleCheck2">Entertainment</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exampleCheck3"
                           name="SelectedCategories" value="Fitness">
                    <label class="form-check-label" for="exampleCheck3">Fitness</label>
                </div>

                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exampleCheck4"
                           name="SelectedCategories" value="Birthday">
                    <label class="form-check-label" for="exampleCheck4">Birthday</label>
                </div>
            </div>
            <div class="d-inline-block mb-4">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exampleCheck5"
                           name="SelectedCategories" value="Gaming">
                    <label class="form-check-label" for="exampleCheck5">Gaming</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exampleCheck6"
                           name="SelectedCategories" value="Travel">
                    <label class="form-check-label" for="exampleCheck6">Travel</label>
                </div>
            </div>
            <div class="form-group d-flex justify-content-between mt-2">
                <a class="btn btn-secondary pb-2 pt-2" style="width:200px;"
                   asp-action="HomePage" asp-route-username="@ViewData["User"]" asp-route-pagination="1">Back To Home</a>
                <input type="submit" value="Create Calendar" class="btn btn-primary pb-2 pt-2" style="width: 200px;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
