@model SoftwareTechnologyCalendarApplication.Models.User

@{
    ViewData["Title"] = "editAccount";
}

<h1 class="text-center">Account Infos</h1>

<h4 class="text-center">If you wish to edit some of the informations about your account, click on the "Edit"
    button of the field you wish to change and then proceed by making your change</h4>
<hr />
<form asp-action="editAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row align-items-center" style="margin-top: 25px;">
        <div class="mx-auto col-md-4 offset-md-4">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Username" class="form-control" id="username" onblur="this.setAttribute('disabled', 'disabled');" disabled="disabled" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" onclick="EnableDisableTextBox('username')">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                ::before
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                            </svg>

                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row align-items-center">
    <div class="mx-auto col-md-4 offset-2">
            <div class="form-group" style="margin-top: 25px;">
                <label asp-for="Password" class="control-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Password" class="form-control" id="password" onblur="this.setAttribute('disabled', 'disabled');" disabled="disabled" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" onclick="EnableDisableTextBox('password')">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                ::before
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                            </svg>

                            Edit
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 25px;">
                <label asp-for="Fullname" class="control-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Fullname" class="form-control" id="fullname" onblur="this.setAttribute('disabled', 'disabled');" disabled="disabled" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" onclick="EnableDisableTextBox('fullname')">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                ::before
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                            </svg>

                            Edit
                        </button>
                    </div>
                </div>
            </div>
    </div>
    <div class="mx-auto col-md-4 offset-md-1">
            <div class="form-group" style="margin-top: 25px;">
                <label asp-for="Email" class="control-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" id="email" onblur="this.setAttribute('disabled', 'disabled');" disabled="disabled" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" onclick="EnableDisableTextBox('email')">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                ::before
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                            </svg>

                            Edit
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 25px;">
                <label asp-for="Phone" class="control-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Phone" class="form-control" id="phone" onblur="this.setAttribute('disabled', 'disabled');" disabled="disabled" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" onclick="EnableDisableTextBox('phone')">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                ::before
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                            </svg>

                            Edit
                        </button>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="text-center mt-3">
        <button class="btn btn-secondary" asp-action="HomePage">  Back  </button>
        <input type="submit" value="  Save  " class="btn btn-primary" onclick="EnableAll()" />
</div>
</form>

<script type="text/javascript">
    function EnableDisableTextBox(textboxId) {
        textboxId = String(textboxId)
        var textBox = document.getElementById(textboxId);
        if (textBox.disabled) {
            textBox.removeAttribute("disabled");
        } else {
            textBox.setAttribute("disabled", "disabled");
        }
    }
</script>

<script type="text/javascript">
    function EnableAll() {
        document.getElementById("title").removeAttribute("disabled");
        document.getElementById("description").removeAttribute("disabled");
        document.getElementById("startingTime").removeAttribute("disabled");
        document.getElementById("endingTime").removeAttribute("disabled");
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
