@model ResetPasswordViewModel;

@{
    ViewData["Title"] = "Login";
}

<style>
    body {
        background-color: #f0f2f5;
    }
</style>

<div class="mb-2 mt-2 text-center">
    <img src="~/images/ApplicationLogoImageTransparent.png" class="img-fluid"
         style="max-width:200px; max-height:200px;" />
</div>

<div class="row">
    <div class="shadow offset-1 col-10 col-md-6 offset-md-3 col-xl-4 offset-xl-4 pt-4 pl-4 pr-4 pb-4" style="background-color:white;">
        <form asp-controller="Authentication" asp-action="ResetPassword">
            <div class="mb-3">
                <h4 class="text-center">Reset Password Form</h4>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <i class="fa-solid fa-user mr-1"></i>
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group mb-2">
                <i class="fa-solid fa-lock mr-1"></i>
                <label asp-for="Password" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary" id="password-toggle">
                            <i class="fas fa-eye" id="button-icon"></i>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <i class="fa-solid fa-lock mr-1"></i>
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary" id="confirm-password-toggle">
                            <i class="fas fa-eye" id="confirm-button-icon"></i>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Token"/>
            <div class="form-group text-center">
                <button type="submit" onclick="EnableUsername()" class="btn btn-primary btn-lg btn-block">Confirm Changes</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const passwordInput = document.getElementById('Password');
        const buttonIcon = document.getElementById('button-icon');
        const passwordToggle = document.getElementById('password-toggle');

        const passwordInputConfirm = document.getElementById('ConfirmPassword');
        const confirmButtonIcon = document.getElementById('confirm-button-icon');
        const confirmPasswordToggle = document.getElementById('confirm-password-toggle');

        passwordToggle.addEventListener('click', function () {

            if (passwordInput.getAttribute('type') === 'password') {
                passwordInput.setAttribute('type', 'text');
                buttonIcon.classList.remove('fas', 'fa-eye');
                buttonIcon.classList.add('fa-solid', 'fa-eye-slash');
            }
            else {
                passwordInput.setAttribute('type', 'password');
                buttonIcon.classList.remove('fa-solid', 'fa-eye-slash');
                buttonIcon.classList.add('fas', 'fa-eye');
            }
        });

        confirmPasswordToggle.addEventListener('click', function () {

            if (passwordInputConfirm.getAttribute('type') === 'password') {
                passwordInputConfirm.setAttribute('type', 'text');
                confirmButtonIcon.classList.remove('fas', 'fa-eye');
                confirmButtonIcon.classList.add('fa-solid', 'fa-eye-slash');
            }
            else {
                passwordInputConfirm.setAttribute('type', 'password');
                confirmButtonIcon.classList.remove('fa-solid', 'fa-eye-slash');
                confirmButtonIcon.classList.add('fas', 'fa-eye');
            }
        });

        function EnableUsername() {
            document.getElementById("Username").removeAttribute("disabled");
        }
    </script>
}
